GITHUB_TOKEN=ghp_xxx
GITHUB_OWNER=AgroKING
GITHUB_REPO=drift

LINEAR_API_KEY=lin_api_xxx

SLACK_BOT_TOKEN=xoxb-xxx
SLACK_CHANNEL_ID=C0B616280CF

NOTION_TOKEN=secret_xxx

DRIFT_USER_NAME="ZansSux"
DRIFT_GITHUB_USERNAME=ZansSux

MOCK_MODE=true
